.Paste{
  width: 100%;
  /* border: 1px solid green; */
}

.pasteContainer{
    margin: 10px 0;
    /* background-color: rgb(23, 2, 23); */
    background-color: rgb(205, 121, 205);
    color: white;
    width: 100%;
    
}

.input_password{
    width: 250px;
    height: 30px;
    margin: 10px 0;

}

.submit_btm{
    width: 150px;
    height: 40px;
    cursor: pointer;
}
/* styles.css */
.pasteContainer::placeholder {
  /* Add your CSS styles for the placeholder here */
  color: #f80000;
  font-style: italic;
}


/* styles.css */
.ql-editor .ql-placeholder {
  /* Add your placeholder CSS styles here */
  color: #dc0000;
  font-style: italic;
}
