.Navbar{
    background-color: #1f2937;
    position: sticky;
    top:0;
    z-index: 10;
    display: flex;
    align-items: center;  
    padding: 0 50px; 
    height: 60px;

}
 .Navbar>div{
    width: 50%;
}


.logo{
    color: white;
    font-size: 20px;
    margin-right: 100px;
}

.Navbar>div:first-child{
    display: flex;
    align-items: center;
}

.Navbar>div:first-child>div:nth-child(2){
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Navlink{
    margin: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}
.Navlink:hover{
    background-color: rgb(55, 77, 97);
}