.Paste{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pasteContainer{
    margin: 10px 0;
    /* background-color: rgb(23, 2, 23); */
    background-color:   #1f2937;
    color: white;
    min-width: 50%;
    border-radius: 5px;

}

.input_password{
    width: 250px;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
}

.pasteBtm{
  background-color:   #1f2937;
  border-radius: 5px;
}



.quill > .ql-container > .ql-editor.ql-blank::before{
    font-size: 15px;
    color: rgb(255, 255, 255);
}